.packsTableContainer {
    display: flex;
    flex-direction: column;
}

.table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 7px 7px 0 rgba(0,0,0,0.2), 0 7px 7px 0 rgba(0,0,0,0.19);
}

.table th, td {
    padding: 7px 7px;
    border: solid 2px #077517;
}

.table th {
    background: #4CAF50;
    cursor: pointer;
}

.table th:first-child, td:first-child {
    text-align: left;
}

.pagination {
    padding-bottom: 20px;
}