.actions {
    width: 7%;
}

.actionButtons {
    display: flex;
    justify-content: flex-end;
}

.actionButtons button {
    margin: 0 2px;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 10px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
}