.☽ {
    background: linear-gradient(to bottom right, #022507, #0c4612);
}

.☽-text {
    color: #d0eca1;
}

.☀ {
    background: linear-gradient(to bottom right, #d0eca1, #f3faec);
}

.☀-text {
    color: #022507;
}