.cardsContainer {
    display: flex;
    justify-content: center;
}

.cardsTable {
    width: 100%;
}

.rowElements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.backIcon {
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 17px;
}