.cardsContainer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.cardsTable {
    width: 100%;
}

.backAndTitle {
    display: flex;
    justify-content: flex-start;
}

.rowElements {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

@media screen and (max-width: 760px) {
    .rowElements {
        flex-direction: column;
    }
}

.backIcon {
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 17px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.button {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
}

.actions {
    width: 17%;
}