.packsContainer {
    display: flex;
    justify-content: center;
}

.num {
    display: inline-block;
    width: 33px;
    text-align: center;
}

.rowElements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
