.packsContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.num {
    display: inline-block;
    width: 33px;
    text-align: center;
}

.addPack {
    min-width: 120px;
    width: 120px;
}

.rowElements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.doubleRange {
    display: flex;
    align-content: center;
    align-items: center;
}

/*@media screen and (max-width: 1235px) {
    .rowElements {
        flex-direction: column;
    }
}*/
