.links {
    display: flex;
    align-items: center;
    background-color: #077517;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    justify-content: space-around;
    font-weight: bold;
    font-size: 24px;
}

.nav {
    min-width: 25%;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.nav:hover {
    color: #faec00;
    background: linear-gradient(to right, #077517, #4CAF50, #4CAF50, #4CAF50, #077517);
}

.active {
    width: 25%;
    text-decoration: none;
    color: #faec00;
    text-align: center;
    background: linear-gradient(to right, #077517, #4CAF50, #4CAF50, #4CAF50, #077517);
}

.text {
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.select {
    display: flex;
    align-items: center;
}