.table {
    font-size: 16px;
    /*max-width: 669px;*/
    border-collapse: collapse;
    text-align: center;
}
.table th, td {
    padding: 10px 20px;
}

.table span {
    display: inline-block;
}
.table th, td {
    /*border-style: solid;*/
    /*border-width: 0 1px 1px 0;*/
    /*border-color: white;*/
}
.table th:first-child, td:first-child {
    text-align: left;
}
.table tbody tr:nth-child(n) {
    background-color: inherit;
}
.table tbody tr:nth-child(2n) {
    background-color: inherit;
}
.table thead tr:nth-child(n) {
    background-color: inherit;
}

.table .triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
    margin-top: 4px;
    margin-left: 3px;
}

.table .triangle_up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    margin-top: 4px;
    margin-left: 3px;
}

.packs__actions_buttons {
    display: flex;
    justify-content: end;
}

.packs__actions_buttons button {
    font-size: 16px;
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 4px;
}
