.text {
    font-weight: bold;
    font-size: 36px;
    margin: 10px auto;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailLabel {
font-size: 22px;
}

.passwordLabel {
    font-size: 22px;
}

.forgotPassword {
    font-size: 22px;
}

.dontHaveAccount {
    font-size: 18px;
}

.SignUp {
    font-size: 24px;
    font-weight: bold;
}

.error {
    color: red
}
