.paginatorContainer {
    background-color: #077517;
    border-radius: 0 0 20px 20px;
}

.container {
    display: flex;
    justify-content: center;
    color: white;
    padding: 2px 0;
}

.container div {
    width: 180px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.container div span {
    padding: 0 10px;
}

.container div button {
    cursor: pointer;
    border: none;
    background-color: #077517;
    outline: none;
    color: white;
    padding: 5px 10px;
    border-radius: 20%;
    min-width: 40px;
}

.container div button:hover {
    font-weight: bold;
    background-color: #4CAF50;
    color: #faec00;
}

.container div .selectedPage {
    font-weight: bold;
    background-color: #4CAF50;
    color: #faec00;
}

.emptyAnswer {
    text-align: center;
}