.paginatorContainer {
    display: flex;
    justify-content: center;
    background-color: #077517;
    border-radius: 0 0 20px 20px;
}

.container {
    display: flex;
    color: white;
    padding: 2px 0;
}

.edge {
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: flex-start;
}

.center {
    width: 200px;
    display: flex;
    text-align: center;
    justify-content: flex-start;
}

.container div span {
    padding: 2px 5px;
    font-size: 16px;
}

.container div button {
    cursor: pointer;
    border: none;
    background-color: #077517;
    outline: none;
    color: white;
    padding: 2px 3px;
    border-radius: 20%;
    min-width: 40px;
    font-size: 14px;
    margin: 0;
}

.container div button:hover {
    font-weight: bold;
    background-color: #4CAF50;
    color: #faec00;
}

.container div .selectedPage {
    font-weight: bold;
    background-color: #4CAF50;
    color: #faec00;
}

.emptyAnswer {
    padding-top: 170px;
    font-family: "Times New Roman";
    font-size: 22px;
    text-align: center;
}

.show {
    display: flex;
    align-items: center;
}

.show span{
    display: inline-block;
    font-size: 16px;
}