.searchBlock {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.wideSearchField {
    width: 380px;
    margin: 0 -15px;
}

.wideSearchField:focus {
    width: 380px;
}

.wideSearchField::placeholder{
    color: white;
    opacity: 70%;
}

.narrowSearchField {
    width: 155px;
    margin: 0 -15px;
}

.narrowSearchField:focus {
    width: 155px;
}

.narrowSearchField::placeholder{
    color: white;
    opacity: 70%;
}

.deleteIcon {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
}