.searchBlock {
    display: flex;
    align-items: center;
    width: 500px;
}

.loupe {

}

.searchField {
    width: 380px;
    margin: 0;
}

.searchField:focus {
    width: 380px;
}

.searchField::placeholder{
    color: white;
    opacity: 70%;
}

.deleteIcon {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
}